
.bg-container {
    height: 100vh; 
  }
  
  .logo-container {
    height: 70vh; 
    background-position: start;
  }
  .horn-container{
    height: 90vh;
    background-position: start;
  }
@media (max-width: 768px) {
    .bg-container {
      height: 100vh;
    }
    .logo-container {
      height: 80vh;
      background-position: center;
    }
    .horn-container{
      height: 100vh;
    }
  }
  

  @media (max-width: 480px) {
    .bg-container {
      height: 100vh;
      
    }
    .logo-container {
      height: 80vh;
     
    }
    .horn-container{
      width: fit-content;
      height: 90vh;
    
      
    }
  }