
.bg-container {
    height: 100vh; 
  }
  
  .logo-container {
    height: 80vh; 
    background-position: start;
  }
  .horn-container{
    height: 90vh;
    background-position: start;
  }
@media (max-width: 768px) {
    .bg-container {
      height: 100vh;
    }
    .logo-container {
      height: 60vh;
      background-position: center;
    }
  }

  @media (max-width: 480px) {
    .bg-container {
      height: 100vh;
    }
    .logo-container {
      height: 50vh;
    }
  }