@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'StraightlerOblique';
    src: url('./assets/FontsFree-Net-Straightler-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: oblique;
  }
@font-face {
    font-family: 'StraightlerRegular2';
    src: url('./assets/FontsFree-Net-Straightler-Regular-2.ttf') format('truetype');
    font-weight: normal;
    font-style: oblique;
  }
@font-face {
    font-family: 'StraightlerRegular22';
    src: url('./assets/FontsFree-Net-Straightler-Regular-2\ 2.ttf') format('truetype');
    font-weight: normal;
    font-style: oblique;
  }
@font-face {
    font-family: 'StraightlerRegular23';
    src: url('./assets/FontsFree-Net-Straightler-Regular-2\ 3.ttf') format('truetype');
    font-weight: normal;
    font-style: oblique;
  }
  
  body {
    font-family: 'StraightlerOblique', 'StraightlerRegular2', 'StraightlerRegular22', 'StraightlerRegular23', sans-serif;
  }
  